<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Nutzerverwaltung</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngFor="let group of users">
        <ion-item-divider *ngIf="group.length > 0 && group[0].group != null">
            <ion-label>
                {{group[0].group.name}}
            </ion-label>
        </ion-item-divider>
        <ion-item *ngFor="let user of group" (click)="seeUserDetailsModalOpen(user)">
            {{user.name_first}}
            {{user.name_last}}
            <ion-icon color="danger" *ngIf="user.accountStatus.disabled || !user.accountStatus.activated" slot="end" name="close-circle-outline"></ion-icon>
        </ion-item>
    </ion-list>


</ion-content>
