<div>
    <ion-item>
        <ion-label>Start</ion-label>
        <ion-datetime [(ngModel)]="filterStartDate" pickerFormat="MMMM YYYY" display-format="MMMM YYYY"
                      [min]="filterDateMin" [max]="filterDateMax"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label>Ende</ion-label>
        <ion-datetime [(ngModel)]="filterEndDate" pickerFormat="MMMM YYYY" display-format="MMMM YYYY"
                      [min]="filterDateMin" [max]="filterDateMax"></ion-datetime>
    </ion-item>

    <div id="filter-group">
        <ion-label id="insertFilterGroupCheckBoxAfterHere">Gruppe</ion-label>
        <ion-checkbox *ngFor="let group of allGroups" [(ngModel)]="group.selected"></ion-checkbox>
    </div>
    <ion-button (click)="dismiss()">Filtern</ion-button>
</div>
