<div>
    <ion-item>
        <ion-label>Start</ion-label>
        <ion-datetime [(ngModel)]="filterStartDate" pickerFormat="MMMM YYYY" display-format="MMMM YYYY"
                      [min]="filterDateMin" [max]="filterDateMax"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label>Ende</ion-label>
        <ion-datetime [(ngModel)]="filterEndDate" pickerFormat="MMMM YYYY" display-format="MMMM YYYY"
                      [min]="filterDateMin" [max]="filterDateMax"></ion-datetime>
    </ion-item>

    <ion-item>
        <ion-label>Gruppe</ion-label>
        <ion-select [(ngModel)]="selectedGroups"  multiple="true"  placeholder="Select One">
            <ion-select-option [selected]="selectedGroups.includes(group.id)" *ngFor="let group of allGroups" value="{{group.id}}">{{group.name}}</ion-select-option>
        </ion-select>
    </ion-item>

    <div id="filter-event">
        <ion-checkbox [(ngModel)]="filterSelectedTypes['event']"></ion-checkbox>
        <ion-label>Veranstaltungen</ion-label>
        <br>
        <ion-checkbox [(ngModel)]="filterSelectedTypes['lesson']"></ion-checkbox>
        <ion-label>Gruppenstunden</ion-label>
        <br>
        <ion-checkbox [(ngModel)]="filterSelectedTypes['task']"></ion-checkbox>
        <ion-label>Eigene Aufgaben</ion-label>
    </div>
    <ion-button (click)="dismiss()">Filtern</ion-button>
</div>
