@font-face {
  font-family: "Ionicons";
  src: url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1");
  src: url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1#iefix") format("embedded-opentype"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.1") format("truetype"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.1") format("woff"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.svg?v=2.0.1#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

.background {
  background-color: #0bb8cc;
  height: 100vh;
  width: 100vw;
}

.title {
  position: absolute;

  color: white;
  font-family: 'Zero Threes', serif;
  font-size: 1.3em;

  width: calc(90% - 20px);
  max-width: 280px;
  left: 50%;
  top: calc(50% - 70px);
  transform: translate(-50%, -50%);
}

.input > ion-item {
  --ion-background-color: none;
  height: 100%;
  width: 100%;
}

.input > ion-item > ion-input {
  --placeholder-color: white;
  --placeholder-opacity: 1;
  --color: white;
}

//arrow onclick
.input > span {
  position: absolute;

  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;

  right: 0;
  height: 100%;
  width: 3em;

}

.input {
  position: absolute;
  display: flex;

  background-color: var(--ion-color-orange-dark);
  box-shadow: 0 0 5px black;
  border-radius: 25px;

  width: 90%;
  max-width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//input background
.input::before {
  content: '';
  position: absolute;

  width: calc(100% - 55px);
  height: calc(100% - 6px);
  margin: 3px;
  border-radius: 25px;
  pointer-events: none;
  background-color: var(--ion-color-orange);
}

//arrow
.input::after {
  content: "\f10b";
  font-size: 2.7em;
  padding-right: 10px;
  font-family: "Ionicons", serif;
  color: var(--ion-color-orange);
}

.input:last-child::after {
  content: "\f2f6";
  font-size: 2.5em;
}

.inactive {
  opacity: 0;
  pointer-events: none;
  animation: inactive 0.5s ease-in;
}
@-webkit-keyframes inactive {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


#storage {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2em;
  transform: translate(-50%, calc(-50% + 150px));
  color: var(--ion-color-orange-dark);
}

.stored {
  animation: storeInput 0.3s ease-in;
}

@-webkit-keyframes storeInput {
  0% {
    transform: translateY(0) translate(-50%, -50%);
    opacity: 1;
  }

  100% {
    transform: translateY(150px) translate(-50%, -50%);
    opacity: 0;
    width: 5%;
  }
}

.unstored {
  animation: storeOutput 0.3s ease-in;
}

//reverse soreInput
@-webkit-keyframes storeOutput {
  100% {
    transform: translateY(0) translate(-50%, -50%);
    opacity: 1;
  }

  0% {
    transform: translateY(150px) translate(-50%, -50%);
    opacity: 0;
    width: 5%;
  }
}

.hidden {
  display: none;
}

.notValid {
  animation: notValid 2.5s linear;
}

@-webkit-keyframes notValid {
  2%, 18% {
    transform: translate3d(-1px, 0, 0) translate(-50%, -50%);
    background-color: red;
  }

  4%, 16% {
    transform: translate3d(2px, 0, 0) translate(-50%, -50%);
    background-color: red;
  }

  6%, 10%, 14% {
    transform: translate3d(-4px, 0, 0) translate(-50%, -50%);
    background-color: red;
  }

  8%, 12% {
    transform: translate3d(4px, 0, 0) translate(-50%, -50%);
    background-color: red;
  }
  20% {
    background-color: red;
    transform: translate(-50%, -50%);
  }
  100% {

  }
}

.buttons {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;

  bottom: 10%;
}

.buttons > ion-button {
  width: 35%;
  max-width: 200px;
  min-width: 100px;
  --background: var(--ion-color-orange-dark);
  color: var(--ion-color-orange-light);
  margin: 10px;
}


