<ion-content>
    <div class="background">
        <p class="title">{{(isLogin) ? 'Einloggen' : 'Registrieren'}}</p>
        <div class="input" id="name1">
            <ion-item>
                <ion-input placeholder="Vorname" [(ngModel)]="nameFirst_reg" type="text" [autofocus]="outFillIdx == 0"
                           autocapitalize></ion-input>
            </ion-item>
            <span (click)="next_click('name1')"></span>
        </div>
        <div class="input inactive" id="name2">
            <ion-item>
                <ion-input placeholder="Nachname" [(ngModel)]="nameLast_reg" type="text" [autofocus]="outFillIdx == 1"
                           autocapitalize></ion-input>
            </ion-item>
            <span (click)="next_click('name2')"></span>
        </div>
        <div class="input inactive" id="email">
            <ion-item>
                <ion-input placeholder="E-Mail" [(ngModel)]="email_reg" type="email"></ion-input>
            </ion-item>
            <span (click)="next_click('email')"></span>
        </div>

        <div class="input inactive" id="group">
            <ion-item>
                <ion-select placeholder="Gruppe" [(ngModel)]="group_reg">
                    <ion-select-option value="{{group}}" *ngFor="let group of groups">{{group}}</ion-select-option>
                </ion-select>
            </ion-item>
            <span (click)="next_click('group')"></span>
        </div>

        <div class="input inactive" id="password1">
            <ion-item>
                <!--                Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one-->
                <!--                special character (@$!%*?&.-_). (Wähle kein echtes Passwort (Password wird nicht verschlüsselt))-->
                <ion-input placeholder="Password" [(ngModel)]="password1_reg" clearInput type="password"></ion-input>
            </ion-item>
            <span (click)="next_click('password1')"></span>
        </div>

        <div class="input inactive" id="password2">
            <ion-item>
                <ion-input placeholder="{{(!isLogin)?'Password wiederholen':'Password'}}" [(ngModel)]="password2_reg"
                           clearInput
                           type="password"></ion-input>
            </ion-item>
            <span (click)="next_click('password2')"></span>
        </div>
    </div>
    <ion-icon (click)="prev_click()" id="storage" class="hidden" name="mail-open"></ion-icon>
    <div class="buttons">
        <ion-button expand="full" (click)="goTo_log_reg()">{{(!isLogin) ? 'Anmelden' : 'Registrieren'}}</ion-button>
        <ion-button expand="full" (click)="goTo_Help()">Hilfe</ion-button>
    </div>

    <ion-item>
        <ion-label floating>Server IP:</ion-label>
        <ion-input type="text"  [(ngModel)]="changedUrl"></ion-input>
        <ion-button size="default" color="light" slot="end" (click)="updateServerConnection()">
            <ion-icon slot="icon-only" [color]="backendConnectionStatusColor" name="wifi"></ion-icon>
        </ion-button>
    </ion-item>

</ion-content>
