<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Aufgaben</ion-title>
        <ion-buttons slot="end">
            <ion-button icon-only (click)="presentNewTaskPopover($event)" slot="end">
                <ion-icon name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngFor="let tasks of [scheduledTasks, unscheduledTasks]">
        <ion-item
                class="{{task.priority == 1?'itemDangerBackgroundHint':task.priority==2?'itemWarningBackgroundHint':''}}"
                [id]="task._id"
                *ngFor="let task of tasks">
            <label class="container">
                <!-- dont use io-checkbox here, because i need to can click on the label. ion-checkbox for click on checkbox everytime-->
                <input type="checkbox" [checked]="task.done" (click)="task.done = !task.done; checkTask(true, task)">
                <span class="checkmark"></span>
            </label>
            <div style="width: 100%" (click)="expandViewId==task._id?expandViewId=null:expandViewId=task._id">
                <h5>{{task.title}}</h5>
                <!--Datum-->
                <span style="display:flex; font-size: medium">
                    <span style="display: contents" *ngIf="task.dueDate">
                    <!--red when today/tomorrow or in past, yellow when in the next 3 days, otherwise green-->
                        <ion-icon
                                color="{{getDateDiffToNow(task.dueDate) < 1?'danger': getDateDiffToNow(task.dueDate) < 4?'warning':'success'}}"
                                name="calendar"></ion-icon>
                        <ion-label style="font-size: small">&nbsp;{{formatDateForView(task.dueDate)}}</ion-label>
                    </span>
                    <span style="display: contents" *ngIf="task.competent.length>1 && expandViewId != task._id">
                        &nbsp;&nbsp;&nbsp;
                        <!--                        <ion-icon name="contacts"></ion-icon>-->
                        <!--                        <ion-label style="font-size: small">&nbsp;{{task.competent.length}}</ion-label>-->
                        <ion-avatar *ngFor="let comp of task.competent" class="smallAvatar">
                            <img [src]="'/assets/imgs/logo.png'" alt="avatar-{{comp.name_first}}">
                        </ion-avatar>
                    </span>
                </span>


                <!--further information-->
                <div style="margin-left: 20px" *ngIf="expandViewId == task._id">
                    {{task.description}}
                    <!--todo competent-->
                    <!--                    <span *ngIf="task.competent.length > 1">-->
                    <!--                        <ion-avatar *ngFor="let comp of task.competent">-->
                    <!--                            <img [src]="comp.image_profile" [alt]="'avatar from ' + comp.name_first">-->
                    <!--                        </ion-avatar>-->
                    <!--                    </span>-->
                    <!--reports-->
                    <div>
                        <h6>Berichte</h6>
                        <ion-card *ngFor="let rep of task.report">
                            <ion-card-content>
                                <strong>{{formatDateForView(rep.date)}}: </strong>
                                <ion-text>{{rep.text}}</ion-text>
                            </ion-card-content>
                        </ion-card>
                        <ion-button (click)="$event.stopPropagation(); presentNewTaskReportPopover($event, task)"
                                    size="small" fill="outline">
                            Bericht hinzufügen
                        </ion-button>
                    </div>

                </div>
            </div>
        </ion-item>
    </ion-list>

    <ion-button color="medium" expand="block" fill="outline" (click)="showDone = !showDone">
        {{doneTasks ? doneTasks.length : ''}} abgeschlossene Aufgaben
        <ion-icon slot="end" [name]="showDone?'arrow-dropdown-circle' : 'arrow-dropright-circle'"></ion-icon>
    </ion-button>

    <!-- hint this list is a copy from above -->
    <ion-list *ngIf="showDone">
        <ion-item
                class="{{task.priority == 1?'itemDangerBackgroundHint':task.priority==2?'itemWarningBackgroundHint':''}}"
                *ngFor="let task of doneTasks">
            <label class="container">
                <!-- dont use io-checkbox here, because i need to can click on the label. ion-checkbox for click on checkbox everytime-->
                <input type="checkbox" [checked]="task.done" (click)="task.done = !task.done; checkTask(false, task)">
                <span class="checkmark"></span>
            </label>
            <div style="width: 100%" (click)="expandViewId?expandViewId=null:expandViewId=task._id">
                <h5>{{task.title}}</h5>

                <span style="display:flex; font-size: medium">
                    <span style="display: contents" *ngIf="task.dueDate">
                    <!--red when today/tomorrow or in past, yellow when in the next 3 days, otherwise green-->
                        <ion-icon
                                color="{{getDateDiffToNow(task.dueDate) < 1?'danger': getDateDiffToNow(task.dueDate) < 4?'warning':'success'}}"
                                name="calendar"></ion-icon>
                        <ion-label style="font-size: small">&nbsp;{{formatDateForView(task.dueDate)}}</ion-label>
                    </span>
                    <span style="display: contents" *ngIf="task.competent.length>1 && expandViewId != task._id">
                        &nbsp;&nbsp;&nbsp;
                        <ion-avatar *ngFor="let comp of task.competent" class="smallAvatar">
                            <img [src]="'/assets/imgs/logo.png'" alt="avatar-{{comp.name_first}}">
                        </ion-avatar>
                    </span>
                </span>

                <!--further information-->
                <div style="margin-left: 20px" *ngIf="expandViewId == task._id">
                    {{task.description}}
                    <!--todo competent-->
                    <!--                    <span *ngIf="task.competent.length > 1">-->
                    <!--                        <ion-avatar *ngFor="let comp of task.competent">-->
                    <!--                            <img [src]="comp.image_profile" [alt]="'avatar from ' + comp.name_first">-->
                    <!--                        </ion-avatar>-->
                    <!--                    </span>-->
                    <!--reports-->
                    <div *ngIf="task.report.length>0">
                        <h6>Berichte</h6>
                        <ion-card *ngFor="let rep of task.report">
                            <ion-card-content>
                                <strong>{{formatDateForView(rep.date)}}: </strong>
                                <ion-text>{{rep.text}}</ion-text>
                            </ion-card-content>
                        </ion-card>
                    </div>

                </div>
            </div>
        </ion-item>
    </ion-list>

</ion-content>
