<div class="modal-content" style="width: 100vw; height: 100vh; background-color: white; padding: 10px;">
    <div class="modal-header">
        <h4 class="modal-title">Title</h4>
    </div>

    <div class="modal-body">
        <ion-item>
            <ion-label position="floating">Titel</ion-label>
            <ion-input [(ngModel)]="eventTitle"></ion-input>
        </ion-item>


        <!-- Date and Time Picker -->
        <ion-item lines="none">
            <ion-label>
                <ion-icon name="time"></ion-icon>
                Ganztägig
            </ion-label>
            <ion-toggle [(ngModel)]="fullDayEvent"></ion-toggle>
        </ion-item>
        <table>
            <tr>
                <td>
                    <li-ionic4-datepicker (ngModelChange)="dateChanged(true, $event)"
                                          [(ngModel)]="eventStartDate" [inputDateConfig]="datePickerStartObj">
                    </li-ionic4-datepicker>
                </td>
                <td>
                    <ion-datetime lines="none" (ngModelChange)="timeChanged(true, $event)" [hidden]="fullDayEvent"
                                  [(ngModel)]="eventStartTime" displayFormat="HH:mm" minuteValues="0,15,30,45">
                    </ion-datetime>
                </td>
            </tr>
            <tr>
                <td>
                        <li-ionic4-datepicker (ngModelChange)="dateChanged(false, $event)"
                                              [(ngModel)]="eventEndDate" [inputDateConfig]="datePickerEndObj">
                        </li-ionic4-datepicker>
                </td>
                <td>
                        <ion-datetime lines="none" (ngModelChange)="timeChanged(false, $event)" [hidden]="fullDayEvent"
                                      [(ngModel)]="eventEndTime" displayFormat="HH:mm" minuteValues="0,15,30,45">
                        </ion-datetime>
                </td>
            </tr>
        </table>


        <ion-item lines="none">
            <ion-label position="floating">
                <ion-icon name="list"></ion-icon>
                Beschreibung
            </ion-label>
            <ion-textarea [(ngModel)]="eventDescription"></ion-textarea>
        </ion-item>

        <ion-item lines="none">
            <ion-label>Gruppe</ion-label>
            <ion-select [(ngModel)]="eventGroups" multiple="true" placeholder="Select One">
                <ion-select-option *ngFor="let group of allGroups"
                                   value="{{group.id}}">{{group.name}}</ion-select-option>
            </ion-select>
        </ion-item>

<!--        <ion-item lines="none">-->
<!--            <ion-label>Öffentliche Veranstaltung</ion-label>-->
<!--            <ion-checkbox [(ngModel)]="eventPublic"></ion-checkbox>-->
<!--        </ion-item>-->

        <!-- todo add later: complement, address, documents, picture-->

    </div>
    <div class="modal-footer">
        <ion-button (click)="closeModal()">Close</ion-button>
        <ion-button (click)="addEvent()">Save</ion-button>
        <ion-button [hidden]="event == null" (click)="deleteEvent()" color="danger">Löschen</ion-button>
    </div>
</div>


