<ion-app>
    <ion-menu (ionWillClose)="ionCloseMenu()">
        <ion-header class="menu_header">
            <ion-avatar>
                <img [src]="'/assets/imgs/logo.png'" alt="avatar">
            </ion-avatar>
            <div (click)="toggleAccountMenu()" id="profile_user">
                <span class="bold_text">{{userName}}</span>
                <span id="profile_user_group">{{userRole}}</span>
                <ion-icon id="dropdown_arrow"
                          [name]="isDropped ? 'arrow-dropup' :'arrow-dropdown'"></ion-icon>
            </div>
        </ion-header>

        <ion-content>
            <div id="menu_default">
                <ion-list [hidden]="page.hidden" class="menu_list border-top" *ngFor="let page of pages">
                    <ion-item [id]="getActiveUrl() == p.url ? 'isActive' : 'notActive'" (click)="closeMenu()"
                              class="medium_text" [lines]="'none'" [routerDirection]="'root'" [routerLink]="[p.url]"
                              *ngFor="let p of page.page">
                        <div class="ion_item_inner">
                            <ion-icon slot="start" [name]="p.icon"></ion-icon>
                            <ion-label>
                                {{p.title}}
                            </ion-label>
                        </div>
                    </ion-item>
                </ion-list>
            </div>

            <div class="displayNone" id="menu_account">
                <ion-list class="menu_list">
                    <ion-item class="medium_text" [id]="getActiveUrl() == '/own-account' ? 'isActive' : 'notActive'"
                              (click)="closeMenu()"
                              [lines]="'none'"
                              [routerDirection]="'root'"
                              [routerLink]="['/own-account']" >
                        <div class="ion_item_inner">
                            <ion-icon slot="start" name="person"></ion-icon>
                            <ion-label>
                                Konto verwalten
                            </ion-label>
                        </div>
                    </ion-item>

                    <ion-item class="medium_text" (click)="logout();" [lines]="'none'">
                        <div class="ion_item_inner">
                            <ion-icon slot="start" name="log-out"></ion-icon>
                            <ion-label>
                                Logout
                            </ion-label>
                        </div>
                    </ion-item>

                </ion-list>
            </div>


        </ion-content>
    </ion-menu>


    <ion-router-outlet main></ion-router-outlet>

</ion-app>
