// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-menu > ion-header {
  width: 100%;
  //height: 120px;

  background-color: #1e2023;
}

ion-menu > ion-header > ion-avatar{
  margin: 10px;
}

#profile_user{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
}

#profile_user_name {
  font-weight: bold;
  color: white;

  width: 80%;
}

#profile_user_group {
  color: white;
  width: 80%;
}

#profile_user > ion-icon{
  align-self: end;
  justify-self: end;
  place-self: end;
}

#menu_account {
  width: 100%;
  height: 100%;

  position: absolute;

  background-color: #0bb8cc;
}

#menu_default {
  width: 100%;
  height: 100%;

  position: absolute;

  background-color: #7e57ff;

}

.onTop{
  z-index: 30;
}