.eventDateList > p {
  width: 10%;
  float: left;
  margin-top: 0;

  --ion-background-color: none;
}

.eventItem {
  width: 90%;
  float: right;
  margin-bottom: 3px;

  --ion-background-color: none;
}

.eventItem > div {
  height: 100%;
}

.eventItem::before {
  content: '';
  position: absolute;

  border-radius: 5px;
  background-color: #0bb8cc;
  width: 100%;
  height: 100%;
}

.event-text {
  height: 100%;
  width: 100%;
}

.event-lily {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: auto;
}

.lily {
  width: 25px;
  height: 25px;
  margin: 2px;
}

.lily[class*="orange"] > svg > path {
  fill: orange;
}

.lily[class*="blue"] > svg > path {
  fill: blue;
}

.lily[class*="green"] > svg > path {
  fill: green;
}

.lily[class*="red"] > svg > path {
  fill: red;
}

