.eventDateList > p {
  width: 10%;
  float: left;
  margin-top: 0;
}

.eventItem {
  width: 90%;
  float: right;
  margin-bottom: 3px;

  --ion-background-color: none;
}

.eventItem > div {
  width: 100%;
  height: 100%;
}

.eventItem::before {
  content: '';
  position: absolute;

  border-radius: 5px;
  background-color: #0bb8cc;
  width: 100%;
  height: 100%;
}

.dpsg_lilie[class=woe] {
  fill: orange;
}

