<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <br>
    <br>
    <br>
    <br>
    <!--menubar: File ...-->
    <!--statusbar: powered by tiny ...-->
    <editor
            plugins="link lists"
            toolbar="undo redo | fontselect fontsizeselect | bold italic underline strikethrough superscript subscript codeformat | forecolor backcolor removeformat | alignleft aligncenter | bullist numlist | link unlink"
            apiKey="kioinb9xmr90jg0jlqmm1yusputf5sl3z2ahacrq65iy61lv"
            [(ngModel)]="text"
            [inline]="true"
            [init]="{
                menubar:false,
                statusbar: false,
                fontsize_formats: '11px 12px 14px 16px 18px 24px 36px',
                font_formats: 'Andale Mono=andale mono,times; Arial=arial,helvetica,sans-serif; Arial Black=arial black,avant garde; Book Antiqua=book antiqua,palatino; Courier New=courier new,courier; Georgia=georgia,palatino; Helvetica=helvetica; Impact=impact,chicago; Tahoma=tahoma,arial,helvetica,sans-serif; Terminal=terminal,monaco; Times New Roman=times new roman,times; Trebuchet MS=trebuchet ms,geneva; Verdana=verdana,geneva; Webdings=webdings; Wingdings=wingdings,zapf dingbats',
                language: 'de'
            }"
    ></editor>

</ion-content>
